/*обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/
body {
  background: radial-gradient(circle, #272a33 0, #0a0a0a 100%);
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}
/* Оболочка */
.wrapper {
  width: 100%;
  height: 100%;
}
.container {
  width: 1100px;
  margin: 0 auto;
}

.body {
  margin-top: 100px;
  border-radius: 10px 10px 0 0;
  background-color: white;
  padding: 20px 0px;
  box-shadow: 0px -4px 49px 8px rgba(34, 60, 80, 0.4);
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

/* Чекбоксы */
.nav {
  display: flex;
  justify-content: space-around;
}
.nav-list {
  font-weight: 700;
}

/* Таблица */
.table-menu {
  border-radius: 9px;
  margin: 0 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 500px;
  border-collapse: collapse;
  position: relative;
  margin-top: 20px;
}
.table tbody {
  background-color: rgba(204, 204, 204, 0.164);
}
.table thead tr {
  position: sticky;
  top: 0px;
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.table th {
  font-weight: bold;
  padding: 5px;
  background: #efefef;
  width: 5px;
  background-color: #222128;
  font-family: "Bebas Neue", cursive;
  font-size: 19px;
  border: 1px solid #dddddd;
  overflow-wrap: anywhere;
  text-align: center;
}
.table td {
  border: 1px solid #dddddd;
  padding: 5px;
  width: 86px;
  font-size: 15px;

  width: 41px;
  overflow-wrap: anywhere;
}

.table tr td:first-child,
.table tr th:first-child {
  border-left: none;
}
.table tr td:last-child,
.table tr th:last-child {
  border-right: none;
}
.tbody tr th {
  text-align: center;
}

/* фильтр */
.nav {
  margin: 20px 0;
}
.nav-list {
  display: grid;
  row-gap: 10px;
  grid-template: repeat(3, 1fr) / repeat(5, 200px);
}

/* кнопки */
.button {
  display: flex;
  justify-content: center;
}
.button-sort {
  display: flex;
  justify-content: space-around;
}
.button-add {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(-25deg, #d4d8dd 0%, #afb1b4 100%);
  border-radius: 7px;
}

.btn {
  background-color: white;
  color: #191919;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 900;
  margin: 10px 0px 10px 10px;
  padding: 5px 10px;
  border-radius: 7px;
}
.btn-add {
  line-height: 2;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 900;
  margin: 10px 0px 10px 10px;
  padding: 5px 10px;
  background-color: transparent;
}

.btn-three {
  color: #fff;
  transition: all 0.5s;
  position: relative;
}
.btn-three::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s;
}
.btn-three:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.btn-three::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: scale(1.2, 1.2);
}
.btn-three:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

.btn-add span:first-child {
  display: block;
}
.btn-add span:last-child {
  display: none;
}
.btn-add._active span:first-child {
  display: none !important;
}
.btn-add._active span:last-child {
  display: block !important;
}

.btn-sort-age,
.btn-sort-id,
.btn-sort-class,
.btn-sort-sibsp,
.btn-sort-parch,
.btn-sort-ticket,
.btn-sort-fare {
  display: none;
}

.button-add label input {
  margin-top: 8px;
  margin-right: 10px;
  border-radius: 7px;
  padding: 5px 5px 5px 5px;
  border: 2px solid #222128;
  background-color: #494a50;
  transition: background-color 1s ease-in;
  font-size: 25px;
}

.button-add label input:focus {
  background-color: rgb(255, 255, 255);
}
.button-add label input::placeholder {
  color: gainsboro;
  padding-left: 30px;
}
.button-add label input::placeholder:focus {
  color: #222128;
}

.button-add label {
  position: relative;
}
.button-add label svg {
  pointer-events: none;
  width: 12%;
  display: block;
  position: absolute;
  top: 12%;
  left: 1px;
  border-radius: 2px;
}

[data-button-head] {
  font-size: 20px;
  font-weight: 900;
  background-color: #494a50;
  color: white;
  padding: 5px 7px;
  border-radius: 3px;
  width: 100%;
}

.checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.checkbox__text {
  position: relative;
  padding: 0 0 0 60px;
  cursor: pointer;
}
.checkbox__text:before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #cdd1da;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}
.checkbox__text:after {
  content: "";
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}
.checkbox input:checked + .checkbox__text:before {
  background: #9fd468;
}
.checkbox input:checked + .checkbox__text:after {
  left: 26px;
}
.checkbox input:focus + .checkbox__text:before {
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2),
    0 0 0 3px rgba(255, 255, 0, 0.7);
}

.displayNone {
  display: none;
}
